<h3>
	Terms and Conditions
</h3>

<p>By accepting the terms and conditions, you agree to the following:</p>

<p>
	1.You will contribute to making this project a reality
</p>

<p>
	2.You will not take credit for this project, but will credit this project to Enactus Valley View (especially if we win the national expositon)
</p>

<p> 
	3.You will adhere to all Enactus Valley View and Enactus Ghana policies and guide lines 
</p>